/* src/css/CheckoutPage.css */
.checkout-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.checkout-page form {
  display: flex;
  flex-direction: column;
}

.checkout-page .MuiTextField-root {
  margin-bottom: 16px;
}
