.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-box {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .form-input {
    padding : 20px;
    background-color: white;
    margin: 30px;
  }
  
  .form-button {
    margin-top: 20px;
  }
  
  .upload-button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .quote {
    margin: 0 auto;
  }

  .donation-header{
    background-color: #282c34;
    padding: 1px;
    color: white;
    text-align: center;
  }