.login-container {
    text-align: center;
    padding: 20px;
  }
  
  .login-title {
    margin-bottom: 20px;
  }
  
  .login-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-input {
    margin-bottom: 20px;
    background-color: white;
  }
  
  .login-button {
    margin-top: 20px;
  }
  .login-tabs .MuiTabs-flexContainer {
    justify-content: space-evenly;
  }