.category-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-media-hover:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.css-iymoya-MuiPaper-root-MuiCard-root {
    position: relative;
    min-height:380px;
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
    position: static !important;
}

.css-dnrpxu-MuiCardActions-root {
    position: absolute;
    bottom:5px;
}