.product-image {
    height: 300px;
    width: 250px;
}

h1 {
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.products {
    text-align: center;
    padding: 20px;
}

.category-card-media {
    height: 300px;
}